/* General */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

body + div[is-visible] {
    display: none !important;
}

/* Logo Sizing */
.logo {
    height: 3.1rem;
    width: auto;
}

/* Parallax Background Video */
.parallax-video video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.9);
    -webkit-filter: brightness(90%);
}

.parallax-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: inherit;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

/* Navbar Styling */
#navbar a {
    text-transform: capitalize;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Font Styles */
.font-title {
    font-family: 'Abril Fatface', cursive;
}

.font-body {
    font-family: 'Muli', sans-serif;
}

/* Lightbox to the front */
#lightbox {
    z-index: 50;
}

/* Destination Carousel Styling */
.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
}

.swiper-pagination-bullet {
    background: #4f46e5;
    }

/* Contact Form */
#success-message {
    display: none;
}

#success-message.visible {
    display: block;
}

#loading-spinner.hidden {
    display: none;
}

#loading-spinner:not(.hidden) {
    display: inline-block;
}

/* FAQ Styling */
.accordion.active > .accordion-toggle.accordion-active\:text-indigo-600{
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
  }
  
  .accordion.active > .accordion-toggle .accordion-active\:text-indigo-600{
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
  }
  
  .accordion.active > .accordion-toggle.accordion-active\:text-gray-900{
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
  }
  
  .accordion.active > .accordion-toggle .accordion-active\:rotate-180{
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .accordion.active > .accordion-toggle .accordion-active\:rotate-90{
    --tw-rotate: 90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .accordion.active.accordion-active\:bg-indigo-50{
    --tw-bg-opacity: 1;
    background-color: rgb(238 242 255 / var(--tw-bg-opacity));
  }
  
  .accordion.active.accordion-active\:border-b-0{
    border-bottom-width: 0px;
  }
  
  .accordion.active > .accordion-toggle.accordion-active\:font-semibold{
    font-weight: 600;
  }
  
  .accordion.active.accordion-active\:bg-gray-50{
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  }
  
  .accordion.active.accordion-active\:rounded-xl{
    border-radius: 0.75rem;
  }
  
  .accordion.active.accordion-active\:border-indigo-600{
    --tw-border-opacity: 1;
    border-color: rgb(79 70 229 / var(--tw-border-opacity));
  }
  
  .accordion.active > .accordion-toggle .accordion-active\:hidden{
    display: none;
  }
  
  .accordion.active > .accordion-toggle .accordion-active\:block{
    display: block;
  }
  
  .accordion-toggle.active ~ .accordion-content{
    margin-top: 10px;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }